* {
  margin: 0;
  padding: 0;
}
.submit-btn-col {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.p-20 {
  padding: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.message-tip {
  z-index: 2000;
}
.qrcode {
  display: flex;
  justify-content: left;
}
.qrcode-img {
  margin-right: 30px;
}
.qrcode-desc, .text {
  font-size: 15px;
}
.qrcode-desc p {
  margin-bottom: 10px;
}
.reply-desc {
  color: #aaa;
  margin-top: 10px;
  padding-left: 30px;
}