* {
  margin: 0;
  padding: 0;
}
.submit-btn-col {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.p-20 {
  padding: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.qrcode {
  display: flex;
  justify-content: left;
}
.qrcode-img {
  margin-right: 30px;
}
.qrcode-desc {
  font-size: 15px;
}
.qrcode-desc p {
  margin-bottom: 10px;
}